@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default styles */
@layer components {
  body {
    @apply font-mulish text-black;
  }
}

/* Hide arrows in number input */
@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

.App {
  height: 100vh;
  height: 100svh;
  min-height: 100vh;
  min-height: 100svh;
}

/* ----------------custom-scroll-bar---------------- */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: #caced2;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b2b8c2;
}

/* ----------------hide-scroll-bar---------------- */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
